{% extends 'sites/layout.html' %}

{% block content %}
<div class='center-align'>Add a link: 
	<form method="post">
		{% csrf_token %}
		<input type="text" name="new_site_name" pattern="[a-zA-Z0-9_ ]+">
		<input type="submit" value="Add">
	</form>
</div>
<script type="text/javascript">

		$(document).ready(function(){
			var edit_btn_elts = document.getElementsByClassName("edit_button");
			for(var i = 0; i < edit_btn_elts.length; i++){
				edit_btn_elts[i].addEventListener("click", toggle_save, false);
			}
		});
		//simple function that activates the ability to change a site name
		var toggle_save = function(event){
			var siblings = ($(event.target).parent()).siblings();
			console.log(siblings.length);
			//swap the visibility of the form/table data item
			
			var prev_name = siblings[1].children[0];
			var input_name = siblings[0][0];

			prev_name.style.display = "none";
			input_name.style.display = "";
			input_name.style.background = "#ffcdd2";
			siblings[2].style.visibility = "visible";		
		}
	</script>
<table>
	<thead>
		<tr>
			<th>Site Name</th>
			<th></th>
			<th>Hits</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>

	<tbody>

		{% for site in sites %}
			<tr>
				<form action="{% url 'rename_site' site_id=site.id %}" method="POST">
					<td>
						<a href="{% url 'landing' site_id=site.id site_name=site.website_title %}" method="POST">
							{{ site.website_title }}</a>
						<input style="display:none;" name="site_title" type="text" value="{{ site.website_title }}">
					</td>
					
					<td style="visibility:hidden;">
						
								{% csrf_token %}
							<input class="btn blue" type="submit" value="Save"/>
						
					</td>
				</form>
				<td>{{ site.hits }}</td>
				<td>
					<button class="btn green edit_button">
							Edit
					</button>
				</td>
				<td>
					<form action="{% url 'delete_site' site_id=site.id %}" method="POST">
							{% csrf_token %}
						<input class="btn red" type="submit" value="Delete"/>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

